table {
  border: 5px;
  border-color: transparent;
  border-style: solid;
  border-radius: 20px;
  position: absolute;
  top: 80px;
  left: 20px;
  background-color: #44475a;
  text-align: center;
  min-width: 800px;
}

td {
  color: #ff79c6;
}

th {
  color: #50fa7b;
}

a {
  color: #bd93f9;
  position: absolute;
  top: 20px;
  text-decoration-line: unset;
}

#total {
  position: absolute;
  top: 50px;
  left: 420px;
  color: #50fa7b;
}

#prodbut {
  position: absolute;
  top: 50px;
  left: 30px;
}

#relBut {
  position: absolute;
  top: 50px;
  left: 130px;
}

#sairBut {
  position: absolute;
  top: 50px;
  left: 760px;
}