@charset "utf-8";

#username {
  position: absolute;
  left: 350px;
  top: 200px;
  height: 45px;
  width: 280px;
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
}

#loginImg {
  position: absolute;
  left: 280px;
  top: 195px;
  width: 60px;
  height: 60px;
}

#password {
  position: absolute;
  left: 350px;
  top: 280px;
  height: 45px;
  width: 280px;
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
}

#lockImg {
  position: absolute;
  left: 280px;
  top: 275px;
  width: 60px;
  height: 60px;
}

#butLogin {
  position: absolute;
  left: 350px;
  top: 353px;
  height: 45px;
  width: 280px;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: transparent;
  font-size: 20px;
}

#limpar {
  position: absolute;
  left: 635px;
  top: 290px;
  height: 35px;
  width: 65px;
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
}

#paraCadastro {
  position: absolute;
  left: 800px;
  top: 195px;
  font-size: 40px;
}
