.p1 {
  position: absolute;
  left: 300px;
  top: 100;
  font-size: 22px;
}
.container {
  position: absolute;
  left: 300px;
  top: 175px;
  font-size: 18px;
  line-height: 30px;
}

.inp {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  line-height: 30px;
}

#dataNasc {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  line-height: 30px;
}


.endereco {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  line-height: 30px;
}
